
/* line 286 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/app.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/stylus/lib/functions/index.styl */

/* line 260 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/rupture/rupture/index.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/app.styl */
/*******************
C O R E
********************/

/* line 14 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/rupture/rupture/index.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/index.styl */

/* line 10 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/border.styl */

/* line 28 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/clearfix.styl */

/* line 4 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/color-image.styl */

/* line 196 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/flex.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/gradients.styl */

/* line 11 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/config.styl */

/* line 7 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/iconic.styl */

/* line 25 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/image.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/index.styl */

/* line 8 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/index.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/base.styl */

/* line 19 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/base.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 6 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/links.styl */

/* line 30 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/links.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/text.styl */

/* line 7 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/text.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 17 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 69 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 7 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 20 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/overflow.styl */

/* line 66 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/positions.styl */

/* line 78 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/index.styl */

/* line 12 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/aliases.styl */

/* line 9 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 8 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 577 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/config.styl */

/* line 28 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/size.styl */

/* line 17 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/jeet/stylus/jeet/index.styl */

/* line 11 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/jeet/stylus/jeet/index.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 64 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/jeet/stylus/jeet/_settings.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 281 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/jeet/stylus/jeet/_functions.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/jeet/stylus/jeet/_grid.styl */

/* line 33 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/jeet/stylus/jeet/_grid.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/core/reset.styl */

/* line 14 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/core/reset.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/index.styl */

/* line 10 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/border.styl */

/* line 28 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/clearfix.styl */

/* line 4 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/color-image.styl */

/* line 196 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/flex.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/gradients.styl */

/* line 11 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/config.styl */

/* line 7 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/iconic.styl */

/* line 25 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/image.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/index.styl */

/* line 8 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/index.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/base.styl */

/* line 19 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/base.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 6 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/links.styl */

/* line 30 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/links.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/text.styl */

/* line 7 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/text.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 17 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 69 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 7 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 20 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/overflow.styl */

/* line 66 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/positions.styl */

/* line 78 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/index.styl */

/* line 12 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/aliases.styl */

/* line 9 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 8 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 577 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/config.styl */

/* line 28 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/size.styl */

/* line 17 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/size.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/variables.styl */

/* line 68 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/variables.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/mixins.styl */

/* line 4 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/Scott/Desktop/work/angular-boilerplate/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 7 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/core/reset.styl */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* line 11 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/core/reset.styl */
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 16 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/core/reset.styl */
html body,
html main {
  background-color: #eee;
  color: #000;
  overflow: hidden;
}

/* line 22 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/core/reset.styl */
html main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 27 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/core/reset.styl */
html img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}

/* line 32 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/core/reset.styl */
html span {
  display: inline-block;
}

/* line 8 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/app.styl */
/*******************
U T I L S
********************/

/* line 39 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/mixins.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/ease.styl */

/* line 39 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/ease.styl */

/* line 39 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/fonts.styl */

/* line 68 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/fonts.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/mixins.styl */

/* line 17 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/mixins.styl */

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/variables.styl */

/* line 16 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/app.styl */
/*******************
P A R T I A L S
********************/

/* line 7 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/utils/variables.styl */

/* line 39 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/header.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/header.styl */
#header {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
  background-color: #f00;
  display: none;
}

/* line 28 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/header.styl */

/* line 7 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/loader.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/loader.styl */

/* line 3 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/loader.styl */
#loader .loader {
  z-index: 10001;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

/* line 9 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/loader.styl */
#loader .spinner {
  z-index: 10002;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* line 15 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/loader.styl */
#loader .spinner .progress-bar {
  position: relative;
  margin-top: 19px;
  width: 120px;
  height: 1px;
  background-color: #222;
}

/* line 22 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/loader.styl */
#loader .spinner .progress-bar .line {
  display: block;
  width: 0;
  height: 100%;
  background-color: #eee;
  -webkit-transition: all 0.25s $ease-fn;
  -moz-transition: all 0.25s $ease-fn;
  -o-transition: all 0.25s $ease-fn;
  -ms-transition: all 0.25s $ease-fn;
  transition: all 0.25s $ease-fn;
}

/* line 22 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/app.styl */
/*******************
V I E W S
********************/

/* line 5 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/partials/loader.styl */

/* line 28 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/views/404.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/views/404.styl */

/* line 3 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/views/404.styl */
#notFound404 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 2 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/views/404.styl */

/* line 5 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/views/home.styl */

/* line 1 : /Users/Scott/Desktop/work/angular-boilerplate/src/stylus/views/home.styl */
