#home.page

	//- Using ng-bind instead of the brackets approach will improve performance and
	//- prevents the brackets from being seen on page loads
	h1( ng-bind="data.title" )

	.images( ng-show="imagesLoaded" )

		img.image( ng-repeat="image in data.assets" ng-src="{{ image.src }}" )