/**

Media query helpers from Rupture

For more info visit: https://github.com/jenius/rupture

**/

rupture.base-font-size = $base-fs

rupture.mobile-cutoff  = 768px
rupture.tablet-cutoff  = 1024px
rupture.desktop-cutoff = 1280px
rupture.hd-cutoff      = 1440px

rupture.scale = 0 rupture.mobile-cutoff rupture.tablet-cutoff rupture.desktop-cutoff rupture.hd-cutoff